<!DOCTYPE html>
{% extends 'blog_app/base.html' %}
{% block app_base_body_block %}

<div class="jumbotron">
    <h2>please login</h2>
    <h3>must be a super user</h3>
    {% if form.errors %}
    <p>username or pasword invalid</p>
    {%endif%}

    <form action="{%url 'login'%}" method="POST">
        {% csrf_token %}
            {{form.as_p }}
                <input type="submit" class="btn btn-primary" value='Login'>
                <input type="hidden" name="next" value="{{next}}">
            
    </form>
</div>

{%endblock%}